<%= provide(:title, "Welcome Back") %>

<head>
</head>

<body onload="startUp()">
<div class="row">
  <%= get_welcome %>
</div>
<div class="row" id="dynamic">
  <%= get_weather %>
  <div class="todo col-xs-4 col-xs-offset-1">
    <%= form_for(@todo) do |f| %>
        <%= f.text_field :item, :autocomplete => "off", :placeholder => get_exampleitem%>
        <%= f.submit "", class: "btn btn-primary", :id => "submitbtn" %>
    <% end %>
    <%= get_todo %>
  </div>
  <%= get_calendar %>
</div>
</body>