<%= provide(:title, "Welcome Back") %>

<head>
</head>

<body onload="startUp()">
<div class="row">
  <%= get_welcome %>
</div>
<div class="row" id="dynamic">
  <%= get_weather %>
  <div class="todo col-xs-4 col-xs-offset-1">
    <%= form_for(@todo) do |f| %>
        <%= f.text_field :item, :autocomplete => "off", :placeholder => get_exampleitem%>
        <%= f.submit "", class: "btn btn-primary", :id => "submitbtn" %>
    <% end %>
    <%= get_todo %>
  </div>
  <div class="links col-xs-2 col-xs-offset-1">
    <ul class="linklist">
      <li class="link" ><%= link_to image_tag("reddit_icon.png", class: "linki"), "http://www.reddit.com/"%></li>
      <li class="link"><%= link_to image_tag("facebook_icon.png", class: "linki"), "http://www.facebook.com/"%></li>
      <li class="link"><%= link_to image_tag("gmail_icon.png", class: "linki"), "http://www.gmail.com/"%></li>
      <li class="link"><%= link_to image_tag("haiku_icon.png", class: "linki"), "https://priory.haikulearning.com/"%></li>
      <li class="link"><%= link_to image_tag("crunchyroll_icon.png", class: "linki"), "http://www.crunchyroll.com/"%></li>
      <li class="link"><%= link_to image_tag("twitch_icon.png", class: "linki"), "http://www.twitch.tv/"%></li>
    </ul>
  </div>
</div>
</body>