<%= provide(:title, "Welcome Back") %>

<head>
  <script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      m = checkTime(m);
      h = checkTime(h);
      document.getElementById('timetxt').innerHTML =
          h + ":" + m;
      var t = setTimeout(startTime, 5000);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
  </script>
</head>

<body onload="startTime()">
  <div class="row">
    <%= get_welcome %>
  </div>
  <div class="row" id="dynamic">
    <%= get_weather %>
    <%= get_todo %>
    <%= get_calendar %>
  </div>
</body>