<%= provide(:title, "Welcome Back") %>

<head>
  <script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      m = checkTime(m);
      h = checkTime(h);
      document.getElementById('timetxt').innerHTML =
          h + ":" + m;
      var t = setTimeout(startTime, 5000);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
  </script>
</head>

<body onload="startTime()">
<div class="row">
  <%= get_welcome %>
</div>
<div class="row" id="dynamic">
  <%= get_weather %>
  <div class="todo col-md-4 col-md-offset-1">
    <%= form_for(@todo) do |f| %>
        <%= f.text_field :item, :autocomplete => "off", :placeholder => get_exampleitem%>
        <%= f.submit "", class: "btn btn-primary", :id => "submitbtn" %>
    <% end %>
    <%= get_todo %>
  </div>
  <%= get_calendar %>
</div>
</body>