<header id="autocollapse" class ="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "reddit", "http://www.reddit.com/", class: "link", id: "reddit" %></li>
        <li><%= link_to "facebook", "http://www.facebook.com/", class: "link", id: "facebook" %></li>
        <li><%= link_to "gmail", "http://www.gmail.com/", class: "link", id: "gmail" %></li>
        <li><%= link_to "haiku", "https://priory.haikulearning.com/", class: "link", id: "haiku" %></li>
        <li><%= link_to "crunchyroll", "http://www.crunchyroll.com/", class: "link", id: "crunchyroll" %></li>
        <li><%= link_to "twitch", "http://www.twtich.tv/", class: "link", id: "twitch" %></li>
      </ul>
    </nav>
  </div>
</header>